

<div class="container" align="center"> <br />

  <h5>Coursos</h5>
  
  <% if @courses.empty? %>
    <p> Não existem Ciclos cadastrados</p>
  <% else %>
      <table class="table-striped table-hover" > <br />
        <thead>
          <tr>
            <th>ID</th>
            <th>Titulo:</th>
            <th>Area de Conhecimento:</th>
            <th>Area de Funcional:</th>
            <th>Perfil:
            <th>Ciclo:</th>
            <th>Periodo:</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.id %></td>
              <td><%= course.title %></td>
              <td><%= course.knowledge_area %></td>
              <td><%= course.functional_area %></td>
              <td><%= course.box_profile %></td>
              <td><%= course.cycle %></td>
              <td><%= course.shift %></td>
             
              <th colspan="3"></th>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
 
</div>


