<h1>Dashboard</h1>
<p>Visão geral do progresso dos Blox na instituição</p>
<br />
<br />

<div style="display: inline-block; width: 30%;">
  <%= donut_chart([
    {name: "Quantitativo", data: @func_quantitativo},
    {name: "Básico", data: @func_basico},
    {name: "Complementar", data: @func_complementar},
    {name: "Técnico", data: @func_tecnico}

  ],theme: 'palette4', title: {text: "Blox por Área de Competência", align: 'center' }, legend: {horizontalAlign: 'center', position: "top"}, data_labels: false) %>
</div>

<div style="display: inline-block; width: 30%;">
  <%= donut_chart([
    {name: "Quantitativo", data: @know_quantitativo},
    {name: "Basico", data: @know_basico},
    {name: "Complementar", data: @know_complementar},
    {name: "Técnico", data: @know_tecnico}
  ], theme: 'palette4', title: {text:"Blox por Área de Funcional", align: 'center' }, legend: "top") %>
</div>

<div style="display: inline-block; width: 30%;">
  <%= donut_chart([
    {name: "Quantitativo", data: @prof_quantitativo},
    {name: "Basico", data: @prof_basico},
    {name: "Complementar", data: @prof_complementar},
    {name: "Técnico", data: @prof_tecnico}
  ], theme: 'palette4', title: {text: "Blox por Perfil", align: 'center' }, legend: "top") %>
</div>

<% range_bar_ciclo1 = [{
      name: "Matutino Ciclo1",
      data:  { 
        "Administração1" => ["#{@administracao1.count}"],
        'Finanças' => ["#{@financas1.count}"],
        'Contabilidade' => ["#{@contabilidade1.count}"],
        'Informática' => ["#{@informatica1.count}"],
        'Banco de dados' => ["#{@bancodedados1.count}"],
        'Filosofia' => ["#{@filosofia1.count}"],
        'Geografia' => ["#{@geografia1.count}"],
        'Direito' => ["#{@direito1.count}"],
        'Pedagogia' => ["#{@pedagogia1.count}"],
        'Enfermagem' => ["#{@enfermagem1.count}"],
        'Engenharia' => ["#{@engenharia1.count}"],
        'Educação Física' => ["#{@educacaofisica1.count}"],
        'Arquitetura' => ["#{@arquitetura1.count}"],
        'Hotelaria' => ["#{@hotelaria1.count}"]
      }
    }, {
      name: "Diurno Ciclo1",
      data: {
        "Administração1" => ["#{@administracao2.count}"],
        'Finanças' => ["#{@financas2.count}"],
        'Contabilidade' => ["#{@contabilidade2.count}"],
        'Informática' => ["#{@informatica2.count}"],
        'Banco de dados' => ["#{@bancodedados2.count}"],
        'Filosofia' => ["#{@filosofia2.count}"],
        'Geografia' => ["#{@geografia2.count}"],
        'Direito' => ["#{@direito2.count}"],
        'Pedagogia' => ["#{@pedagogia2.count}"],
        'Enfermagem' => ["#{@enfermagem2.count}"],
        'Engenharia' => ["#{@engenharia2.count}"],
        'Educação Física' => ["#{@educacaofisica2.count}"],
        'Arquitetura' => ["#{@arquitetura2.count}"],
        'Hotelaria' => ["#{@hotelaria2.count}"]
      }
  }]
%>

<% range_bar_ciclo2 = [{
      name: "Matutino Ciclo 2",
      data:  { 
        "Administração2" => ["#{@administracao3.count}"],
        'Finanças' => ["#{@financas3.count}"],
        'Contabilidade' => ["#{@contabilidade3.count}"],
        'Informática' => ["#{@informatica3.count}"],
        'Banco de dados' => ["#{@bancodedados3.count}"],
        'Filosofia' => ["#{@filosofia3.count}"],
        'Geografia' => ["#{@geografia3.count}"],
        'Direito' => ["#{@direito3.count}"],
        'Pedagogia' => ["#{@pedagogia3.count}"],
        'Enfermagem' => ["#{@enfermagem3.count}"],
        'Engenharia' => ["#{@engenharia3.count}"],
        'Educação Física' => ["#{@educacaofisica3.count}"],
        'Arquitetura' => ["#{@arquitetura3.count}"],
        'Hotelaria' => ["#{@hotelaria3.count}"]
      }
    }, {
      name: "Diurno Ciclo 2",
      data: {
        "Administração2" => ["#{@administracao4.count}"],
        'Finanças' => ["#{@financas4.count}"],
        'Contabilidade' => ["#{@contabilidade4.count}"],
        'Informática' => ["#{@informatica4.count}"],
        'Banco de dados' => ["#{@bancodedados4.count}"],
        'Filosofia' => ["#{@filosofia4.count}"],
        'Geografia' => ["#{@geografia4.count}"],
        'Direito' => ["#{@direito4.count}"],
        'Pedagogia' => ["#{@pedagogia4.count}"],
        'Enfermagem' => ["#{@enfermagem4.count}"],
        'Engenharia' => ["#{@engenharia4.count}"],
        'Educação Física' => ["#{@educacaofisica4.count}"],
        'Arquitetura' => ["#{@arquitetura4.count}"],
        'Hotelaria' => ["#{@hotelaria4.count}"]
      }
  }]
%>

<% options = {
  #title: 'Quantidade de blox por: ',
  #subtitle: 'Curso',
  #xtitle: 'Periodo',
  #ytitle: 'Blox',
  width: 1200,
  theme: 'palette8',
  stacked: true
} %>



<p> Quantidade de blox: 
 <%= select_tag 'Ciclo', options_for_select(@cycles.collect{ |u| [u.name, u.id] }), 
                                            id:"selectCiclo", onchange: "showDiv()" %>
</p>


<div id="ciclo1", style="display: inline-block; width: 48%; display: block;">
<p> Dados do CICLO 1 </p> 
<%= column_chart(range_bar_ciclo1, {**options, }) %>
</div>

<div id="ciclo2", style="display: inline-block; width: 48%; display: none;">
<p> Dados do CICLO 2 </p> 
<%= column_chart(range_bar_ciclo2, {**options, }) %>
</div>

<script>
    function showDiv(){
        getSelectValue = document.getElementById("selectCiclo").value;
        if(getSelectValue == "1"){
            document.getElementById("ciclo1").style.display="block";
            document.getElementById("ciclo2").style.display="none";
        }if(getSelectValue == "2"){
            document.getElementById("ciclo1").style.display="none";
            document.getElementById("ciclo2").style.display="block";
        }
    }
</script>


