<h1>Dashboard</h1>
<p>Visão geral do progresso dos Blox na instituição</p>
<br />
<br />

<div style="display: inline-block; width: 30%;">
  <%= donut_chart([
    {name: "Quantitativo", data: 300},
    {name: "Básico", data:15},
    {name: "Complementar", data: 80},
    {name: "Técnico", data: 125}

  ],theme: 'palette4', title: {text: "Blox por Área de Competência", align: 'center' }, legend: {horizontalAlign: 'center', position: "top"}, data_labels: false) %>
</div>

<div style="display: inline-block; width: 30%;">
  <%= donut_chart([
    {name: "Quantitativo", data: 25},
    {name: "Basico", data: 100},
    {name: "Complementar", data: 200},
    {name: "Técnico", data: 125}
  ], theme: 'palette4', title: {text:"Blox por Área de Funcional", align: 'center' }, legend: "top") %>
</div>

<div style="display: inline-block; width: 30%;">
  <%= donut_chart([
    {name: "Quantitativo", data: 25},
    {name: "Basico", data: 100},
    {name: "Complementar", data: 200},
    {name: "Técnico", data: 125}
  ], theme: 'palette4', title: {text: "Blox por Perfil", align: 'center' }, legend: "top") %>
</div>

<% range_bar_series = [{
      name: "Matutino",
      data: {
        'Administração' => [485],
        'Finanças' => [390],
        'Contabilidade' => [625],
        'Informática' => [350],
        'Banco de dados' => [485],
        'Filosofia' => [390],
        'Geografia' => [625],
        'Direito' => [485],
        'Pedagogia' => [325],
        'Emfermagem' => [225],
        'Pedagogia' => [125],
        'Engenharia Civil' => [374],
        'Educação Física' => [278],
        'Arquitetura e Urbanismo' => [625],
        'Hotelaria' => [350]
      }
    }, {
      name: "Diurno",
      data: {
        'Administração' => [600],
        'Finanças' => [150],
        'Contabilidade' => [80],
        'Informática' => [175],
        'Banco de dados' => [485],
        'Filosofias' => [390],
        'Geografia' => [625],
        'Direito' => [485],
        'Pedagogia' => [625],
        'Emfermagem' => [625],
        'Pedagogia' => [625],
        'Engenharia Civil' => [625],
        'Educação Física' => [625],
        'Arquitetura e Urbanismo' => [625],
        'Hotelaria' => [350]
      }
  }]
%>

<% options = {
  #title: 'Quantidade de blox por: ',
  #subtitle: 'Período',
  #xtitle: 'Curso',
  #ytitle: 'Blox',
  width: 1200,
  theme: 'palette8',
  stacked: true
} %>


<div style="display: inline-block; width: 48%;">


<p> Quantidade de blox por: 
                          <%= select_tag(:cycle_id, 
                          raw('<option value="1">1.Ciclo</option><option value="2">2.Ciclo</option>')) 
                          %>
</p>

<%= column_chart(range_bar_series, {**options, }) %>


</div>

